html,
body,
#root,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #151515;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  width: 1000px;
  font-weight: 800;
  font-size: 10em;
  text-align: center;
  color: white;
  position: absolute; /*this sets it in the background of the canvas*/
  top: 0;
  margin: 0;
  padding: 0;
}
